main.home{
    height:1500px;
}

img.piece{
    width:70px;
}
#board2 img.piece{
    width:50px;
}
iframe.board{
    width:1100px;
    height:1000px;
    border:none;
    margin:60px 0 0 10px;
}
iframe.board2{
    width:365px;
    height:325px;
    border:none;
    margin:0 0 0 10px;
    position:absolute;
    right:-400px;
    top:300px;
    background:white;
    padding:10px;
    border-radius:5px;
    border-style:solid;
    border-width:1px;

}
img.taken{
    width:40px;
}